.web_module {
    margin-left: 2em;
}

.stats {
    float: left;
    margin: 0px 1em;
}

.stats:first-of-type {
    clear: left;
}

#statsControl {
    clear: both;
    margin-left: 1em;
}

#quickshipHeading {
    float: left;
    clear: left;
}

#step-1 {
    clear: left;
}

#step-1, #step-2 {
    float: left;
}

#step-2 {
    padding-left: 1.5em;
    margin-left: 2em;
    border-left: thin solid black;
}

#participants {
    position: absolute;
    right: 0px;
    top: 32px;
    margin: 1.25em;
}

#participants .participant {
    float: left;
    border-right: thin solid gray;
    padding: 0px 1em;
}

#participants .participant:first-child {
    padding-left: 0px;
}

#participants .participant:last-child {
    border-right: 0px;
}

#quickship_stats th, #quickship_stats td {
    padding: 4px 14px 4px 8px;
}

#quickship_stats td.packages {
    text-align: center;
}

#postageBalance {
    position: fixed;
    bottom: 0px;
    font-weight: bold;
    font-size: 1.25em;
}

#quickship_kiosk input:focus {
    background-color: yellow;
}

.foundicon-lock, .foundicon-unlock {
    cursor: pointer;
    vertical-align: text-bottom;
}

.foundicon-lock, .foundicon-unlock:hover {
    color: black;
}

.foundicon-lock:hover, .foundicon-unlock {
    color: inherit;
}

h2 input {
    height: 1.5em;
    font-size: 1em;
    font-weight: bold;
}

#box_dimensions input {
    width: 2em;
}

#step-1 h2 label, #step-1 h4 label {
    position: absolute;
    margin-top: 0.25em;
}

#step-1 h2 input, #step-1 h2 span {
    margin-left: 6em;
}

#step-1 h2 span {
    line-height: 1.65em;
}

#step-1 h4 span {
    margin-left: 9em;
}

#quotes_list li.selected {
    background-color: yellow;
}

#quote_selected, #step-2 p button:first-child {
    margin-left: 1.6em;
}